.main{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.dark{
  background-color: black;
  color: white;
}

.light{
  background-color: white;
  color: black;
}

.main{
  height: 80vh;  
}

.banner{
    padding-top: 30px;
    height: 35vh;
    background-color: antiquewhite;
}

.principal{
    padding-top: 30px;
    height: 45vh;
    background-color: beige;
}

.titulo{
    padding:20px ;
}