.main{
  height: 80vh;  
}

.banner{
    padding-top: 30px;
    height: 35vh;
    background-color: antiquewhite;
}

.principal{
    padding-top: 30px;
    height: 45vh;
    background-color: beige;
}

.titulo{
    padding:20px ;
}