.Sidebar {
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.av{
display: flex;
width: 100%;
justify-content: center;
flex-wrap: wrap;
}

.avatars{
    border: 2px solid red;
    margin: 3px;
}

.avatars :hover{
    transform: scale(1.2);
}

.user {
    margin-bottom: 10px;
}

@media only screen and (min-width: 801px) {
    .Sidebar {
        width: 50%;
    }

}